.mainLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 10vh;
  gap: 20px;
  width: 100vw;
}

.mainLogin > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 30px;
  width: 20vw;
}

.mainLogin > form > .inputContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 20px;
  height: 40vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mainLogin > form > .inputContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mainLogin > form > .inputContainer > .inputGrp {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.mainLogin > form .inputContainer label {
  font-size: 1vw;
  color: #39085f;
}

.mainLogin > form > .inputContainer > .inputGrp > input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2vw;
  -moz-appearance: textfield;
}

.mainLogin > form > .inputContainer > .inputGrp > .inputPasswordGrp {
  display: flex;
  align-items: center;
  justify-content: stretch;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  padding: 10px;
}

.mainLogin > form > .inputContainer > .inputGrp > .inputPasswordGrp > input {
  outline: none;
  border: none;
  font-size: 1.2vw;
  width: 100%;
}
.mainLogin > form > .inputContainer > .inputGrp > .inputPasswordGrp > button {
  background: none;
  border: none;
  display: grid;
  place-items: center;
  margin-left: auto;
  cursor: pointer;
}

.mainLogin > form > button {
  font-size: 1vw;
  padding: 10px 20px;
  border: none;
  background: #39085f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.mainLogin > p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainLogin > p > a {
  text-decoration: none;
  color: #39085f;
}
