.drawerBg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.drawerLeft {
  background-color: white;
  position: absolute;
  top: 0;
  width: 15%;
  height: calc(100vh - 20px);
  padding: 20px;
  border-radius: 0 15px 10px 0;
}

.drawerContent .categoryList {
  margin-top: 20px;
}
.drawerContent .categoryList ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
